// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-inline {
    list-style: none;
}

.list-inline > li {
    display: inline;
}

li {
  color: white;
  background: #3398DB;
  padding: 2px;
  margin: 2px;
  background-size: 10px;
  font-weight: bold;
}
